/Lab1/target/
/ProjectMPJ/target/
/Lab5MPI/nbproject/private/
/Lab5MPI/build/
/Lab5MPI/dist/
/LabsMPJ/nbproject/private/
/LabsMPJ/build/
/LabsMPJ/dist/

Lab1/src/main/java/com/mycompany/lab1/MKR/

LabsMPJ/nbproject/

LabsMPJ/build.xml

LabsMPJ/manifest.mf

*.class

LabsMPJ/src/labsmpj/MKR.java
/Lab3/target/

*.exe
*.out
*.app
.vs/*
*/bin/*
*/obj/*
*.dbmdl
*.jfm

ShellSort/.vs/ShellSort/v16/

ShellSort/ShellSort/bin/Debug/net5.0/ref/

*.dll

*.pdb

ShellSort/ShellSort/obj/

ShellSort/ShellSort/bin/Debug/net5.0/

*.sln

*.csproj

ShellSort/.vs/ShellSort/DesignTimeBuild/
/Lab4/target/
/Lab4/NewFolder/

Lab4/src/main/java/Example/

Lab4/Folder/

Lab4/Folder2/
